#info{
    border: solid 10px black;
    margin: 50px;
    padding: 30px;
    background-color: #FD927C;

}
#inscript{
    border: solid 10px black;
    margin: 50px;
    padding: 30px;
    background-color: #FFC300;
}
#pret{
    border: solid 10px black;
    margin: 50px;
    padding: 30px;
    background-color :#DAF7A6;
}
#horl{
    width: 250px;
    height: 250px;
}
section{
    font-family: Arial;
    background-color:navajowhite ;
}
#formulaire{
    position: relative;
    margin: auto;
    width: 300px;
}
#lbSaisie{
    display: inline-block;
    width: 140px;
    line-height: 30px;
}
.bouton{
    width: 360px;
}
.entoureImg{
    float: right;
}
#fondPestin{
    background-image: url(../images/ftr.jpeg) ;
    color: black ;
    font-size: 22px;
    font-style: oblique;
}